asyncio==4.0.0
bbae-invest-api==0.1.5
chaseinvest-api==0.3.6
curl_cffi==0.13.0
discord.py==2.6.4
dspac_invest_api==0.1.4
fennel-invest-api==2.0.0
# fidelity-api==0.0.16
-e git+https://github.com/ImNotOssy/fidelity-api.git@545040e0b393123d5bf81f9cf7f310c280d9fcd8#egg=fidelity-api
firstrade==0.0.34
GitPython==3.1.45
-e git+https://github.com/MaxxRK/playwright_stealth@64856026a91e85f7639c17ddc9cad42496233da9#egg=playwright_stealth
-e git+https://github.com/ImNotOssy/Plynk-API@6418c4bd255275b3e42a79c24d56f24eeee1ad86#egg=plynk_api
#publicdotcom-py==0.1.4
-e git+https://github.com/ImNotOssy/publicdotcom-py.git@643dfd9962c97529ed0b7953b9eaef8599e973d9#egg=publicdotcom-py
pyotp==2.9.0
python-dotenv==1.2.1
requests==2.32.5
# robin-stocks==3.4.0
-e git+https://github.com/ImNotOssy/robin_stocks.git@be1348497d1c1668434ac032ce2361dffda4e687#egg=robin_stocks
# schwab-api==0.4.3
-e git+https://github.com/yanowitz/schwab-api.git@3437fbc4d6e70d941202b74e801139161118e69a#egg=schwab-api
selenium-stealth==1.0.6
setuptools==80.9.0
tastytrade==11.0.2
vanguard-api==0.3.3
-e git+https://github.com/ImNotOssy/webull.git@587b3c7bea32a475f1596f3328cf515b4566f624#egg=webull
zendriver==0.15.0